$colorText: #364844;
$btnColor: #0dbc91;
$btnActive: #00d29f;
$footerColor: #08664f;
$navColor: #1fa181;
$cardsBack: #e2f0ef;
$mobileNav: rgba(69, 146, 127, 0.9);
@font-face {
  font-family: 'Sans Caption';
  src: url('../fonts/PTSansCaption-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Caption';
  src: url('../fonts/PTSansCaption-Bold.woff2');
  font-weight: 900;
  font-style: normal;
}
