.cards {
  width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 92px;

  overflow: hidden;

  @media screen and (max-width: 1300px) {
    max-width: 85vw;
  }

  @media screen and (max-width: 830px) {
    max-width: 520px;
    margin-bottom: 70px;

    border-radius: 5px;
  }
  @media screen and (max-width: 570px) {
    max-width: 340px;
    margin-top: 50px;
    margin-bottom: 35px;

    border-radius: 5px;
  }
}
.cards__robbon {
  display: flex;
  width: fit-content;
  transition: all ease 1s;
}
.card {
  position: relative;
  width: 1140px;
  height: 440px;
  padding: 3.4rem 4rem;

  background-color: $cardsBack;

  border-radius: 5px 0 0 5px;

  @media screen and (max-width: 1300px) {
    max-width: 85vw;
    padding: 3rem 3rem;
  }
  @media screen and (max-width: 830px) {
    max-width: 520px;
    min-height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    padding: 2rem 1.5rem;

    @media screen and (max-width: 570px) {
      max-width: 340px;
      min-height: 538px;
    }
  }
}
.card__list {
  color: $navColor;
  font-size: 21px;

  padding-bottom: 2rem;
  span {
    color: $colorText;
    font-size: 16px;
  }
  @media screen and (max-width: 830px) {
    padding-bottom: 17px;
    font-size: 14px;
  }
}

.card__item {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 9px;
  &::before {
    display: block;
    align-self: flex-start;
    content: '\25CF';
  }
}
.card__item:last-child {
  padding-bottom: 0;
}

.card__text {
  @media screen and (max-width: 830px) {
    max-width: 300px;
  }
}
.card__title {
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;

  font-size: 38px;
  font-weight: 900;

  span {
    display: block;
    font-size: 22px;
  }
  @media screen and (max-width: 830px) {
    font-size: 26px;
    padding-bottom: 12px;
    span {
      font-size: 14px;
    }
  }
}
.card__price {
  display: flex;
  align-items: center;
  gap: 16px;

  padding-bottom: 1.6rem;

  font-size: 20px;

  span {
    display: block;

    color: #868686;
    font-size: 16px;
  }
}
.card__img {
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);

  @media screen and (min-width: 1150px) and (max-width: 1300px) {
    right: -5vw;
  }
  @media screen and (min-width: 1000px) and (max-width: 1150px) {
    right: -15vw;
  }
  @media screen and (min-width: 885px) and (max-width: 1000px) {
    right: -30vw;
  }
  @media screen and (min-width: 831px) and (max-width: 885px) {
    right: -37vw;
  }

  @media screen and (max-width: 830px) {
    top: -7%;
    clip-path: none;
  }
}
.card__btns {
  display: flex;
  gap: 14px;

  @media screen and (max-width: 830px) {
    padding-bottom: 10px;
  }
}
.card__pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;

  font-size: 18px;

  color: #e1e1e1;

  .page--active {
    color: #364844;
  }
}
.page-arrow {
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;

  margin: 0 36px;

  cursor: pointer;

  .arrow {
    fill: #e1e1e1;
  }

  &:hover {
    .arrow {
      fill: $btnColor;
    }
  }
}
.btn__details {
  padding: 10px 24px;

  background-color: transparent;
  border: 1px solid $btnColor;
  color: $btnColor;

  &:hover {
    background-color: $btnColor;
    color: white;
  }
}
