.introduce {
  position: relative;
  display: flex;
  align-items: center;

  min-height: 533px;
  padding: 0 15%;

  .introduce__title {
    max-width: 416px;
    padding-bottom: 14px;

    font-size: 36px;
    font-weight: 900;
  }
  .introduce__parag {
    max-width: 367px;

    font-size: 16px;
  }
  .introduce__img {
    position: absolute;
    right: 0;
  }
  @media screen and (max-width: 1600px) {
    padding: 0 5%;
    .introduce__img {
      width: 85%;
      right: -25%;
    }
  }
  @media screen and (max-width: 1300px) {
    padding: 0 8%;
    .introduce__img {
      width: 80%;
      right: -35%;
    }
  }
  @media screen and (max-width: 830px) {
    flex-direction: column;
    gap: 32px;
    padding: 0 18px;

    .introduce__text {
      order: 2;
      word-break: break-word;
    }
    .introduce__img {
      position: static;
      width: 100vw;
      order: 1;
    }
  }
}
